@using makeyourtournament.Models
@model PickTeamsViewModel

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">
                        <a href="/">
                            <button class="btn btn-danger pull-left" style="" id=""><i class="fa fa-arrow-left"></i></button>
                        </a>
                        Users und Teams eingeben
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="info-flash" class="alert alert-success">Tragen Sie bitte ihre Freunde und Teams ein</div>
                        </div>
                    </div>
                    <form method="post" action="/Tournament/PickTeams">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="countTeamsPerUser" value="@Model.Tournament.countTeamsForUser">

                        @for(var i = 0; i < Model.Tournament.countUser; i++)
                        {
                            <div class="col-md-3">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="text-center userFields">
                                            <select id="@(i)user" name="@(i)user">
                                                <option value="0">-</option>
                                                @foreach (var item in Model.Friends)
                                                {
                                                    <option value="@item.Id">@item.name</option>
                                                }
                                            </select>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p id="@(i)teamField">
                                            Erst den User oben auswählen.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            }



                            <input type="hidden" id="tour_id" name="tour_id" value="@Model.Tournament.Id" />
                            <button id="pickTeams" class="btn btn-success btn-lg center-block" style="display:none" type="submit">
                                Teams festlegen
                            </button>
                        </form>
                        <button id="checkButton" class="btn btn-success btn-lg center-block">
                            check
                        </button>
                    </div>
                </div>
            </div>
        <div class="col-md-2"></div>
    
        
    
</div> 

@Scripts.Render("~/Scripts/pickTeams.js")